@media only screen and (max-width: 600px) {
    .row-height>div>img{
        margin-top: -25%;
    }
    .border-check{
        margin-top: 100%;
    }

    .card-border img{
        height: 200px;
        width: 70%;
    }
    

    
  } 