@media only screen and (max-width: 600px) {
   nav{
       margin-bottom: 50%
   };

   

    .row-height>div>img{
        margin-top: -25%;
    }
    .border-check{
        margin-top: 100%;
        background-color: green;
    }

    .card-border img{
        height: 200px;
        width: 70%;
    }
    
   

    
  } 

@media only screen and (max-width: 768px){
    nav{
        margin-bottom: 50%;
    }


    .row-height>div>img{
        margin-top: -25%;
    }
    
    .border-check{
        margin-top: 100%;
    }

   
}

@media only screen and (max-width: 800px){
  
    

    .border-check{
        margin-top: 30%;
    }
}