@media only screen and (max-width: 600px) {
   nav{
       margin-bottom: 50%
   };

   

    .row-height>div>img{
        margin-top: -25%;
    }

    #shift {
        
        margin-top: 100%;
       
       
    }


    .card-border img{
        height: 200px;
        width: 70%;
    }
    
   

    
  } 

@media only screen and (max-width: 800px){
    nav{
        margin-bottom: 50%;
    }


    .row-height>div>img{
        margin-top: -25%;
    }

    #shift {
        margin-top: 90%;
        
      
        
    }
 
   
}


